  <footer>
    <div id="footer-upper">
      <div id="links-left">
        <ul>
          <li class="links-title">友情链接</li>
          <li>关于我们</li>
          <li>联系客服</li>
          <li>招聘信息</li>
          <li>友情链接</li>
          <li>我要直播</li>
          <li>意见反馈</li>
          <li>版权保护</li>
          <li>投诉指引</li>
          <li>Shadow Strike</li>
          <li>举报网站</li>
          <li>网上有害信息举报专区</li>
        </ul>
      </div>
      <div id="links-mid">
        <ul>
          <li class="links-title">主播帮助</li>
          <li>关于我们</li>
          <li>联系客服</li>
          <li>招聘信息</li>
          <li>友情链接</li>
          <li>我要直播</li>
          <li>意见反馈</li>
          <li>版权保护</li>
          <li>投诉指引</li>
          <li>Shadow Strike</li>
          <li>举报网站</li>
          <li>网上有害信息举报专区</li>
        </ul>
      </div>
      <div id="links-right">
        <div id="info-left">
          <ul id="download-left">
            <li class="links-title">Shadow Strike手机客户端</li>
            <li><i class="fa fa-mobile fa-2x"></i><i class="fa fa-tablet fa-2x"></i>IOS/Android下载</li>
            <li><img src="pics/liantu.png" width="180" height="180"></li>
          </ul>
          <ul id="download-right">
            <li class="links-title">Shadow Strike TV客户端</li>
            <li><i class="fa fa-television fa-2x"></i>IOS/Android下载</li>
            <li><img src="pics/liantu.png" width="180" height="180"></li>
          </ul>
        </div>
        <div id="info-right">
          <ul>
            <li class="links-title">关于我们</li>
            <li>主播帮助</li>
            <li>联系客服</li>
            <li>招聘信息</li>
            <li>友情链接</li>
            <li>我要直播</li>
            <li>意见反馈</li>
            <li>版权保护</li>
            <li>投诉指引</li>
            <li>Shadow Strike</li>
            <li>举报网站</li>
            <li>网上有害信息举报专区</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer-lower">
      <span>Shadow Strike, All rights reserved by Magic. Plateform designed by Magic. 2017 v 1.0.0</span>
    </div>
  </footer>
  <script src="http://192.168.161.128:35729/livereload.js"></script>
  <script src="/dist/scripts.js"></script>

</body>
</html>
