<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/dist/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, users-scalable=no">
    <script src="/js/lib/jquery-3.1.1.min.js"></script>
    <script src="/js/lib/nicescroll.js"></script>
    <script src="/js/lib/slick.min.js"></script>
    <script src="/js/lib/kindeditor-master/kindeditor-all-min.js"></script>
    <title>Homepage</title>
  </head>
  <body>
    <header >
      <div id="header-wrapper">
        <div id="logo"></div>
        <ul id="menu">
          <li>Music LIVE</li>
          <li>Category</li>
          <li>LIVE Review</li>
          <li>MORE</li>
        </ul>
        <ul id="personal">
          <li>
            <div id="search">
              <input type="text" placeholder="Search" autocomplete="off"/>
              <a href="#"><i class="fa fa-search"></i></a>
            </div>
          </li>
          <li>Stream</li>
          <li>Follows</li>
          <li>downloads</li>
          <li>Username</li>
        </ul>
      </div>
    </header>
