{{> header}}

    <div id="main-body">
      <section id="section-promote" class="section">
        <div class="center-body">
          <div id="live-promote">
            <div id="live-tv">LIVE TV</div>
          </div>
          <div id="live-list">
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
            </ul>
          </div>
        </div>
      </section>
      <section id="section-highscore" class="section">
        <div class="center-body">
          <textarea id="textarea"></textarea>
        </div>
      </section>
      <section id="section-preview" class="section">
        <div class="center-body" id="slider">
            <li class="slider" links="1472672642">1</li>
            <li class="slider" links="1472734645">2</li>
            <li class="slider" links="1473240461">3</li>
            <li class="slider" links="1472672642">4</li>
            <li class="slider" links="1472734645">5</li>
            <li class="slider" links="1473240461">6</li>
            <li class="slider" links="1472672642">7</li>
            <li class="slider" links="1472734645">8</li>
        </div>
      </section>
      <section id="section-selfmedia" class="section">
        <div id="lol" class="selfmedia">
          <span class="selfmediatitle"><i class="fa fa-gamepad fa-2x"></i><label>炉石传说</label></span>
          <ul>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123213123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123213123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123213123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123213123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
          </ul>
        </div>
        <div id="girl" class="selfmedia">
          <span class="selfmediatitle"><i class="fa fa-gamepad fa-2x"></i><label>英雄联盟</label></span>
          <ul>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123213123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123213123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123213123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123213123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
          </ul>
        </div>
        <div id="overwatch" class="selfmedia">
          <span class="selfmediatitle"><i class="fa fa-gamepad fa-2x"></i><label>守望先锋</label></span>
          <ul>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>3,213,123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123,213,123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123,213,123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123,213,123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
          </ul>
        </div>
        <div id="heartstone" class="selfmedia">
          <span class="selfmediatitle"><i class="fa fa-gamepad fa-2x"></i><label>王者荣耀</label></span>
          <ul>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123,213,123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123,213,123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123,213,123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
            <li class="selfmedia-list">
              <a href="#">
                <div class="liveimage"></div>
                <span class="livestatus"><i class="fa fa-video-camera fa-2x"></i>直播</span>
                <span class="room">Magic</span>
                <span class="roomdescript">武器团战输出爆炸双杀虐泉</span>
                <span class="onlinenumber"><i class="fa fa-users"></i>123,213,123</span>
                <span class="category">大神推荐</span>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <script src="/js/comp/index.js"></script>
{{> footer}}
